.wrapper {
  margin: 20px;
}

.input {
  height: 40px;
  width: 400px;
  margin-right: 16px;
  border-radius: 8px;
}
.button {
  height: 40px;
  width: 120px;
  padding: 8px 8px;
  border-radius: 8px;

  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.button:hover {
  background-color: rgb(255, 222, 241);
}
